<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Application service-->
    <bean id="imageCaptchaService" class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService">
        <constructor-arg index="0">
            <bean class="com.octo.captcha.service.captchastore.FastHashMapCaptchaStore" />
        </constructor-arg>
        <constructor-arg index="1">
            <bean class="pengyi.core.jcaptcha.ImageCaptchaEngine" />
        </constructor-arg>
        <constructor-arg index="2" value="180"/>
        <constructor-arg index="3" value="100000"/>
        <constructor-arg index="4" value="75000"/>
    </bean>

    <!-- apiAdminService 配置 -->
    <bean id="apiAdminConfig" class="pengyi.core.api.ApiConfig">
        <property name="url" value="${apiAdmin.url}"/>
    </bean>
    <bean id="apiAdminService" class="pengyi.core.api.ApiRequest">
        <property name="config" ref="apiAdminConfig"/>
    </bean>
    <!-- end apiAdminService 配置 -->

</beans>